/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Sketch&display=swap');

body {
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    color: rgb(13, 39, 71);
}

/* Heading */
.heading {
    font-family: 'Londrina Sketch', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.h1-rock {
    color: mediumslateblue;
}

.h1-paper {
    color: mediumseagreen;
}

.h1-scissors {
    color: mediumorchid;
}

/* Instruction Icons */
.instructions {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 5px;
    margin-top: 0;
}

.fa-hand-back-fist {
    color: mediumslateblue;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-hand {
    color: mediumseagreen;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-hand-scissors {
    color: mediumorchid;
    padding-left: 5px;
    padding-right: 5px;
}

/* h2 options */
h2 {
    padding: 100px 0 0 0;
    font-size: 30px;
}

#options-text {
    margin-bottom: 0;
    padding-bottom: 12px;
}

/* h3 first to 10 wins */
#first-to-text {
    margin: 0;
    padding: 0;
}


/* h3 player & computer score */
h3 {
    margin: 0;
    padding-top: 5px;
    font-size: 25px;
}

/* Game container */
.container {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

/* Game section */
.game-section {
    display: inline-flexbox;
    width: fit-content;
    height: 100px;
    max-height: 100px;
    max-width: 120px;
    padding: 3%;
}

/* Player & computer move output */
.output {
    display: flex;
    flex-direction: column;
    background: rgb(45, 142, 177);
    border: 1px solid;
    box-shadow: 0 0 3px 0 rgba(23, 75, 96, 0.533);
}

/* Player & computer score span */
.output > span {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(227, 227, 227, 0.815);
    padding-bottom: 5px;
}

/* Player & computer icons */
.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 15px 15px 15px 15px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background : rgb(36, 116, 145);
    box-shadow: 0 3px 3px 0 rgba(23, 75, 96, 0.533);
}

.show i {
    font-size: 100px;
    color: rgb(13, 39, 71);
}

/* Options buttons */
.options {
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.options button {
    padding: 15px;
    margin: 0 15px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    background: rgb(36, 116, 145);
    font-size: 35px;
    color: rgb(13, 39, 71);
    box-shadow: 0 4px 4px 0 rgba(23, 75, 96, 0.393);
}

.options button:hover {
    background: rgb(50, 157, 196);
}

/* Rock button */
#rock {
    padding: 15px 17.19px 15px 17.19px;
}

/* Media query: phones and larger (320px and up) */
@media screen and (min-width: 320px) {
    /* Heading */
    .heading {
        font-size: 30px;
    }
    /* Instruction Icons */
    .instructions {
        font-size: 15px;
    }
    /* h2 options */
    h2 {
        font-size: 30px;
    }
    /* h3 first to 10 wins */
    #first-to-text {
       font-size: 20px;
    }

    /* h3 player & computer score */
    h3 {
        font-size: 15px;
    }
    /* Game container */
    .container {
        margin: 30px 0 10px 0;
    }
    /* Game section */
    .game-section {
        width: 100%;
        height: 100%;
        max-height: 100px;
        max-width: 100px;
        padding: 5%;
    }
    /* Player & computer score span */
    .output > span {
        font-size: 15px;
    }
    /* Player & computer icons */
    .show i {
        font-size: 80px;
    }
    /* Options buttons */
    .options button {
       font-size: 20px;
    }
    /* Rock button */
    #rock {
        padding: 15px 16.25px 15px 16.25px;
    }
}

/* Media query: tablets and larger (712px and up) */
@media screen and (min-width: 712px) {
    /* Heading */
    .heading {
        font-size: 80px;
    }
    /* Instruction Icons */
    .instructions {
        font-size: 30px;
    }
    /* h2 options */
    h2 {
        font-size: 60px;
    }
    /* h3 first to 10 wins */
    #first-to-text {
       font-size: 40px;
    }

    /* h3 player & computer score */
    h3 {
        font-size: 30px;
    }
    /* Game container */
    .container {
        margin: 60px 0 60px 0;
    }
    /* Game section */
    .game-section {
        width: 100%;
        height: 100%;
        max-height: 200px;
        max-width: 200px;
        padding: 5%;
    }
    /* Player & computer score span */
    .output > span {
        font-size: 27px;
    }
    /* Player & computer icons */
    .show i {
        font-size: 150px;
    }
    /* Options buttons */
    .options button {
       font-size: 55px;
    }
}

/* Media query: large devices (landscape, 1024px and up) */
@media screen and (min-width: 1024px) {
   /* Heading */
   .heading {
        font-size: 70px;
    }
    /* Instruction Icons */
    .instructions {
        font-size: 25px;
    }
    /* h2 options */
    h2 {
        font-size: 40px;
    }

    #options-text {
        margin-top: 0;
        padding-top: 0;
    }
    /* h3 first to 10 wins */
    #first-to-text {
        font-size: 25px;
     }
    /* Game container */
    .container {
        margin-top: 0;
        padding: 0;
    }
    /* Game section */
    .game-section {
        max-height: 150px;
        max-width: 150px;
        padding: 3%;
    }
    /* Player & computer icons */
    .show i {
        font-size: 85px;
    }
    /* Options buttons */
    .options button {
       font-size: 30px;
    }
}

/* Media query: large devices (1280px and up) */
@media screen and (min-width: 1280px) {
    /* Heading */
    .heading {
         font-size: 100px;
     }
     /* Instruction Icons */
     .instructions {
         font-size: 45px;
     }
     /* h2 options */
     h2 {
         font-size: 50px;
         padding-top: 50px;
     }
     /* h3 first to 10 wins */
     #first-to-text {
         font-size: 40px;
      }
     /* Game container */
     .container {
        margin: 0 0 60px 0;
     }
     /* Game section */
     .game-section {
         max-height: 150px;
         max-width: 200px;
         padding: 5%;
     }
     /* Player & computer icons */
     .show i {
         font-size: 150px;
     }
     /* Options buttons */
     .options button {
        font-size: 50px;
     }
     /* Rock button */
     #rock {
        padding: 15px 18.13px 15px 18.13px;
    }
 }