/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Sketch&display=swap');

body {
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    color: #3a3a3a;
}

/* Heading */
.heading {
    font-family: 'Londrina Sketch', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.h1-rock {
    color: mediumslateblue;
}

.h1-paper {
    color: mediumseagreen;
}

.h1-scissors {
    color: mediumorchid;
}

/* Instruction Icons */
.instructions {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0;
}

.fa-hand-back-fist {
    color: mediumslateblue;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-hand {
    color: mediumseagreen;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-hand-scissors {
    color: mediumorchid;
    padding-left: 5px;
    padding-right: 5px;
}

/* Scoreboard */

.scoreboard-section {
    display: inline-flexbox;
    width: 200px;
    height: 100px;
    max-height: 100px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(23, 75, 96, 0.500);
}

/* h2 */
#scoreboard {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    background: rgba(45, 142, 177, 0.550);
    box-shadow: 0 0 3px 0 rgba(23, 75, 96, 0.550);
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    text-align: center;
    align-items: center;
    background : rgba(36, 116, 145, 0.550);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.400);
}

/* Scoreboard span */
#p-scoreboard, #c-scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* h3 first to 10 wins */
#first-to-text {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* Game container */
.container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 30px 0 50px 0;
}

/* Game section */
.game-section {
    display: inline-flexbox;
    width: 100px;
    height: 100px;
    max-height: 100px;
    max-width: 100px;
    padding: 3%;
    margin: 0;
}

/* Player & computer move output */
.output {
    display: flex;
    flex-direction: column;
    background: rgba(45, 142, 177, 0.550);
    border-left: 1px solid rgba(23, 75, 96, 0.500);
    border-right: 1px solid rgba(23, 75, 96, 0.500);
    border-top: 1px solid rgba(23, 75, 96, 0.500);
    box-shadow: 0 0 3px 0 rgba(23, 75, 96, 0.550);
}

/* Player & computer score span */
.output > span {
    font-size: 15px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3a3a3a;
    padding: 5px 0 5px 0;
}

/* Player & computer icons */
.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 15px 15px 15px 15px;
    border-left: 1px solid rgba(23, 75, 96, 0.500);
    border-right: 1px solid rgba(23, 75, 96, 0.500);
    border-bottom: 1px solid rgba(23, 75, 96, 0.500);
    background : rgba(36, 116, 145, 0.550);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.400);
}

.show i {
    font-size: 70px;
    color: #3a3a3a;
}

/* Options buttons */
.options {
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
}

#options-text {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 28px;
}

.options button {
    padding: 15px;
    margin: 0 15px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    background: rgba(30, 101, 127, 0.55);
    font-size: 18px;
    color: #3a3a3a;
    border: 1px solid rgba(23, 75, 96, 0.500);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.400);
}

.options button:hover {
    background: rgba(52, 166, 207, 0.5);
}

/* Rock button */
#rock {
    padding: 15px 17.19px 15px 17.19px;
}